{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'produce.css' %}" />

    <div class="container">
      <h1>List of Produce</h1>
      <p>Filter produce</p>
        <select id="produce-filter">
          <option selected=true value="All">All</option>
          {% for key, value in filter_values %}
            <option value="{{ key }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% if produce_list %}


            <div class="list-group" style="padding-top:10px; padding-bottom: 10px">
            {% for produce in produce_list %}
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="container">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ produce.name }} {% if produce.is_organic %} <img style="margin-left: 10px; height:50px;width:50px" src="{% static 'organic.png' %}">{% endif %}</h5>
                        <small><b>Price : </b>${{ produce.price }}</small>
                    </div>
                    <p class="mb-1">{{ produce.description }}</p>
                        <div class="row">
                            <div class="gap-left col"><b>Min. Quantity : </b>{{ produce.min_quantity }} lbs.</div>
                            <div class="gap-left col"><b>Farm:</b> {% if produce.farm.website_url %} <a href="{{ produce.farm.website_url }}">{{ produce.farm }}</a>{% else %} {{ produce.farm }} {% endif %}</div>
                            <div class="gap-left col"><b>Location : </b>{{ produce.farm.city }}, {{ produce.farm.location_state }}</div>
                            <a class="gap-left col fa fa-envelope" 
                            href="mailto:{{ produce.farm.farmer.email }}
                            ?subject=Confirm {{ produce.name }} pickup
                            &body=Hi,%0A%0ACan you please confirm location and date for {{ produce.name }} pickup.%0A%0AThanks.">
                            Contact Farmer</a>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom: 10px"></div>
            {% endfor %}
            </div>
        {% elif error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <p>No produce available.</p>
        {% endif %}
    </div>
{% endblock %}
