{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'produce.css' %}" />

    <div class="container">
        <h1>List of Produce</h1>
        <div class="input-group">
            <span class="input-group-text">Your Location</span>
            <input id="id_customer_location" type="text" aria-label="Location" class="form-control">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-text">Produce</span>
            <select class="form-select" id="produce-filter">
                <option selected=true value="Any">Any</option>
                {% for key, value in filter_values %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <span class="input-group-text">Sale Type</span>
            <select class="form-select" id="sale-type-filter">
                <option selected=true value="Any">Any</option>
                {% for key, value in mode_filter_values %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <span class="input-group-text">Distance</span>
            <select class="form-select" id="distance-filter">
                <option selected=true value="-1">Any</option>
                <option value="5">5 miles</option>
                <option value="10">10 miles</option>
                <option value="15">15 miles</option>
                <option value="20">20 miles</option>
                <option value="50">50 miles</option>
            </select>
            <input id="btn_search" type="button" class="btn btn-secondary" value="Filter" />
        </div>

        {% if produce_list %}

            <div class="list-group" style="padding-top:10px; padding-bottom: 10px">
            {% for produce in produce_list %}
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="container">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ produce.name }} {% if produce.is_organic %} <img style="margin-left: 10px; height:50px;width:50px" src="{% static 'organic.png' %}">{% endif %}</h5>
                        <small><b>Price : </b>${{ produce.price }}</small>
                    </div>
                    <p class="mb-1">{{ produce.description }}</p>
                        <div class="row">
                            <div class="gap-left col"><b>Min. Quantity : </b>{{ produce.min_quantity }} lbs.</div>
                            <div class="gap-left col"><b>Farm:</b> {% if produce.farm.website_url %} <a href="{{ produce.farm.website_url }}">{{ produce.farm.farm_name }}</a>{% else %} {{ produce.farm.farm_name }} {% endif %}</div>
                            <div class="gap-left col"><b>Selling at:</b> <a href="{{ produce.farm.location_url }}" target="_blank">{{ produce.farm.name }}, {{ produce.farm.location_address }}</a></div>
                            <div class="gap-left col"><b>Distance:</b> {{ produce.distance_from_customer|floatformat:2 }} miles</div>
                            <div class="gap-left col">
                                <a class="col fa fa-envelope"  href="mailto:{{ produce.farm.farmer.email }}?subject=Confirm {{ produce.name }} pickup&body=Hi,%0A%0ACan you please confirm location and date for {{ produce.name }} pickup.%0A%0AThanks.">
                                    Contact Farmer</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom: 10px"></div>
            {% endfor %}
            </div>
        {% elif error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <br/>
            <p>No produce available. <img style="width:30px" src="{% static 'sad_face.jpg' %}" /></p>
        {% endif %}
    </div>

    <script type="text/javascript" src="{% static 'homepage.js' %}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap&libraries=places&v=weekly"></script>

     <script>
         $(document).ready(function(){
            populateInitialValues();
            attachEventHandlers();
         });

        function initMap(){
            const input = document.getElementById("id_customer_location");
            const options = {
                componentRestrictions: { country: "us" },
                fields: ["formatted_address", "geometry"],
                types: ["address"],
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);

            autocomplete.addListener("place_changed", ()=>{
                let place = autocomplete.getPlace();
                storeCustomerLocationInLocalStorage(place);
            });
        }
    </script>

{% endblock %}
