{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'produce.css' %}" />

    <div class="container" style="padding-top:50px">
        {% if produce_list %}
            <h1>List of produce for farm A[form placeholder]</h1>

            <div class="list-group" style="padding-top:30px; padding-bottom: 30px">

            {% for produce in produce_list %}
                  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ produce.name }}</h5>
                      <small>${{ produce.price }}</small>
                    </div>
                    <p class="mb-1">{{ produce.description }}</p>
                      <div class="gap-left"><b>Min. Quantity : </b>{{ produce.min_quantity }}</div>
                      <div class="gap-left"><b>Organic : </b>{% if produce.is_organic %} Yes {% else %} No {% endif %}</div>
                    <small>[LOCATION PLACEHOLDER]</small>
                  </a>
            {% endfor %}

            </div>
        {% else %}
            <p>No produce available.</p>
        {% endif %}

        <div class="col-auto">
            <a href="{% url 'farm:index' %}" class="btn btn-primary mb-3 float-right">Back</a>
        </div>
    </div>
{% endblock %}
