/* CSS file for farm template */

.error{
    color: red;
    font-weight: bold;
    border:solid 1px red;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.align-right{
    float:right
}

.list-group-item-action:hover{
    background-color: #0b5ed7;
    color:white;
}

.card-body{
    padding-bottom: 0px;
}