{% extends "base.html" %}

{% load static %}

{% block content %}
<html>
    <head>
        <title>LoginView</title>
    </head>

    <body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" value="Login">Login</button>
            </div>
        </form>
        </div>
    </body>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

</html>
{% endblock %}