.error{
    color: red;
    font-weight: bold;
    border:solid 1px red;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.align-right{
    float:right
}

/*.list-group-item-action:hover{*/
/*    background-color: #0b5ed7;*/
/*    color:white;*/
/*}*/

.card-body{
    padding-bottom: 0px;
}


.gap-left{
    padding-right: 100px;
    float:left;
    font-size: .875em;
}

.form-check-input{
    height: 2em;
    width: 2em;
}