{% extends "base.html" %}

{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'farm.css' %}" />

    <div class="container-sm">
    {% if form.initial.id %}
        {% if not error_message %}
            <h1>Update point of sale details</h1>
        {% endif %}
        <form  action="{% url 'farm:details' form.initial.id %}" method="post" id="details">
    {% else %}
        {% if not error_message %}
            <h1>Add a new point of sale</h1>
        {% endif %}
        <form  action="{% url 'farm:add' %}" method="post" id="details">
    {% endif %}

        <div style="padding-top:20px">
            {% csrf_token %}
            {% if error_message %}
                <div class="error"><span>{{ error_message }}</span></div>

                <div class="col-auto">
                    <a class="btn btn-primary mb-3 float-right" href="{% url 'farm:index' %}">Back</a>
                </div>
            {% else %}
                {% for field in form %}
                    {# Dont display id, state and city fields#}
                    {% if field.name != 'id' and field.name != 'location_state' and field.name != 'city' %}
                        <div class="mb-3 row">
                            {{ field.errors }}
                            <label for="id_{{ field.name }}" class="col-sm-2 col-form-label"><b>{{ field.label.upper }}:</b></label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% else %}
                            {{ field }}
                    {% endif %}
                {% endfor %}

                <div class="mb-3 row">
                    <label for="id_location" class="col-sm-2 col-form-label"><b>LOCATION:</b></label>
                        <div class="col-sm-10">
                            <input id="id_location" type="text" placeholder="Enter a location" maxlength="200"/>
                        </div>
                    </div>
                </div>

                <div class="col-auto align-right">
                    <button type="submit" class="btn btn-primary mb-3" id="save">Save</button>
                    <a class="btn btn-primary mb-3" href="{% url 'farm:index' %}">Cancel</a>
                </div>
            {% endif %}
          </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'farm.js' %}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap&libraries=places&v=weekly"></script>

     <script>
        $(document).ready(function(){
            attachEventHandlers();
            setFieldStyles();
            enableFieldValidations();
            populateInitialValues();
        });

        function initMap(){
            const input = document.getElementById("id_location");
            const options = {
                componentRestrictions: { country: "us" },
                fields: ["address_components"],
                types: ["(cities)"],
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);

            autocomplete.addListener("place_changed", ()=>{
                const place = autocomplete.getPlace();
                $('#id_city').val(place.address_components.filter(obj => obj.types[0] === "locality")[0].long_name);
                $('#id_location_state').val(place.address_components.filter(obj => obj.types[0] === "administrative_area_level_1")[0].short_name);
            })
        }
    </script>

{% endblock %}
