{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'farm.css' %}" />

    <div class="container">
        {% if farm_list %}
            <h1>My Points of Sale</h1>

            {% for farm in farm_list %}
            <div class="card">
                <div class="card-body" style="margin-bottom: -30px">
                    <h5 class="card-title"><a href="{% url 'produce:list' farm.id %}">{{ farm.name }}</a></h5>
                    <div class="card-text">
                        {% if farm.description %} {{ farm.description }}<br/><br/> {% endif %}
                        <span><strong>Website:</strong> {% if farm.website_url %} <a href="{{ farm.website_url }}" target="_blank">{{ farm.website_url }} {% else %} None {% endif %}</a> </span>
                        {% if farm.city %}
                            <div class="gap-left">
                                <strong>Address :</strong> <a href="{{ farm.location_url }}" target="_blank">{{ farm.location_address }}&nbsp;&nbsp;&nbsp;(Click to see on Google Maps)</a>
                            </div>
                         {% endif %}
                    </div>
                    <div style="float:right">
                        <a href="{% url 'farm:details' farm.id %}" class="btn btn-primary mb-3" style="position:relative;bottom:40px">Edit</a>
                        <a href="{% url 'farm:delete' farm.id %}" class="btn btn-danger mb-3" style="position:relative;bottom:40px">Delete</a>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 10px"></div>
            {% endfor %}

        {% else %}
            <p>No points of sale are available.</p>
        {% endif %}

        <div class="col-auto">
            <a href="{% url 'farm:add' %}" class="btn btn-primary mb-3 float-right"  style="margin-top:10px">Add New Point of Sale</a>
        </div>
    </div>



{% endblock %}
