{% extends "base.html" %}

{% block content %}

    <div class="container" style="padding: 50px">
        {% if farm_list %}
            <h1>List of farms</h1>
            {% for farm in farm_list %}
                <div class="row">
                    <div class="col-8">
                        <a href="{% url 'farm:details' farm.id %}">[{{ farm.name }}] belonging to farmer [{{ farm.farmer }}]</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'farm:delete' farm.id %}" class="btn btn-danger mb-3 float-right" value="Delete">Delete</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No farms are available.</p>
        {% endif %}

        <div class="col-auto">
            <a href="{% url 'farm:add' %}" class="btn btn-primary mb-3 float-right">Add New</a>
        </div>
    </div>
{% endblock %}
