{% extends "base.html" %}

{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'produce.css' %}" />

    <div class="container">
        {% if produce_list %}
            <h1>List of Produce</h1>
            <div class="list-group" style="padding-top:10px; padding-bottom: 10px">
            {% for produce in produce_list %}
                  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ produce.name }}</h5>
                        <small>${{ produce.price }}</small>
                    </div>
                    <p class="mb-1">{{ produce.description }}</p>
                        <div class="gap-left"><b>Min. Quantity : </b>{{ produce.min_quantity }}</div>
                        <div class="gap-left"><b>Organic : </b>{% if produce.is_organic %} Yes {% else %} No {% endif %}</div>
                        <div class="gap-left"><b>Farm : </b>{{ produce.farm.name }}</div>
                    <small>[LOCATION PLACEHOLDER]</small>
                  </a>
                <div style="padding-bottom: 10px"></div>

            {% endfor %}

            </div>
        {% else %}
            <p>No produce available.</p>
        {% endif %}
        
    </div>
{% endblock %}